*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* 最大宽度540 */
    max-width: 540px;
    /* 最小宽度 保护盒子不受伤害*/
    min-width: 320px;
    height: 100%;
    margin: 0 auto;
    background-color: #f2f2f2;
}
.search-box{
    height: 45px;
    border-top:1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f6f6f6;
    padding: 8px 50px 0 8px;
    position: relative;
}
a{
    text-decoration: none;
    font-size: 12px;
}
.search{
    height: 26px;
    border: 1px solid #999999;
    border-radius: 5px;
    line-height: 26px;
     vertical-align: middle;
    box-shadow: 0px 2px 4px  rgba(0,0,0,.2);
}
.search::before{
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    padding-left: 10px;
    margin: -3px 5px 0;
    vertical-align: middle;
    background: url(../images/sprite.png) no-repeat -60px -279px;
    background-size: 104px auto;

}
.myctrip{
    position: absolute;
    right: 0;
    top: 0px;
    width: 50px;
    height: 43px;
    text-align: center;
    letter-spacing: 3px;
    font-size: 14px;
    color: #2eaae0;
    /* padding:  */
}
.myctrip::before{
    content: '';
    display: block;
    width: 23px;
    height: 25px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
    margin:0 auto;
}
header img {
    width: 100%;
}
.local-nav{
    margin: 5px;
    background-color: #fff;
    height: 64px;
    border-radius: 8px;
    display: flex;
}
li{
    list-style: none;
}
.local-nav li{
    flex:1;
}
.local-nav li a{
    display:flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 6px;
    text-align: center;
}
.local-nav li a span:nth-child(1){
    width: 32px;
    height: 32px;
    background: url(../images/ico1.png) no-repeat ;
    background-size: 32px  auto;
}
.local-nav li:nth-child(2) a span:nth-child(1){
    width: 32px;
    height: 32px;
    background: url(../images/ico1.png) no-repeat 0 -32px ;
    background-size: 32px  auto;
}
.local-nav li:nth-child(3) a span:nth-child(1){
    width: 32px;
    height: 32px;
    background: url(../images/ico1.png) no-repeat 0 -64px ;
    background-size: 32px  auto;
}
.local-nav li:nth-child(4) a span:nth-child(1){
    width: 32px;
    height: 32px;
    background: url(../images/ico1.png) no-repeat 0 -96px ;
    background-size: 32px  auto;
}
.local-nav li:nth-child(5) a span:nth-child(1){
    width: 32px;
    height: 32px;
    background: url(../images/ico1.png) no-repeat 0 -128px ;
    background-size: 32px  auto;
}
nav{
    border-radius: 8px;
    overflow: hidden;
    margin: 0 6px;
}
.grid-nav-common{
    height: 88px;
    display: flex;
}
.grid-nav-items{
    flex: 1;
    display: flex;
    flex-direction: column;

}
.hotel{
    background: url(../images/hotel.png) no-repeat center bottom;
    background-size: 121px auto;
}
.grid-nav-items a{
    flex: 1;
    text-align: center;
    color: #fff;
    line-height: 44px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);

}
.grid-nav-items:nth-child(n+2) a:nth-child(1){
      border-bottom: 1px solid #fff;
}
.grid-nav-items:nth-child(2){
    border-left: 1px  solid #fff; 
    border-right: 1px  solid #fff;
}
.grid-nav-common:nth-child(1){
    background: linear-gradient(to right, #fa5aa6,#fa9a4d);
}
.grid-nav-common:nth-child(2){
    background: linear-gradient(to right, #4b8fed,#53BBED);
    margin: 3px 0;
}
.grid-nav-common:nth-child(3){
    background: linear-gradient(to right, #35C2A8,#6BD558);
}
.subnav-entry{
    height: 116px;
    margin: 5px;
    background-color: #fff;
    border-radius: 8px;
    display: flex; 
    flex-wrap: wrap;
}
.subnav-entry li{
    display: flex;
    width: 20%;
    /* flex: 0 0 20%; */
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    padding-top: 6px;
}
.subnav-entry li a{
    display:flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 6px;
    color: #000;
}
.vvv1{
    width: 25px;
    height: 25px;
    background: url(../images/ico2.png) no-repeat 0 0;
    background-size: 24px auto;
}
.vvv2{
    width: 25px;
    height: 25px;
    background: url(../images/ico2.png) no-repeat 0 -27px ;
    background-size: 24px  auto;
}
.vvv3{
    width: 25px;
    height: 25px;
    background: url(../images/ico2.png) no-repeat 0 -55px ;
    background-size: 24px  auto;
}
.vvv4{
    width: 25px;
    height: 25px;
    background: url(../images/ico2.png) no-repeat 0 -85px ;
    background-size: 24px  auto;
}
.vvv5{
    width: 25px;
    height: 25px;
    background: url(../images/ico2.png) no-repeat 0 -113px ;
    background-size: 24px  auto;
}
.vvv6{
    width: 25px;
    height: 25px;
    background: url(../images/ico2.png) no-repeat 0 -140px ;
    background-size: 24px  auto;
}
.vvv7{
    width: 25px;
    height: 25px;
    background: url(../images/ico2.png) no-repeat 0 -170px ;
    background-size: 24px  auto;
}
.vvv8{
    width: 25px;
    height: 25px;
    background: url(../images/ico2.png) no-repeat 0 -200px ;
    background-size: 24px  auto;
}
.vvv9{
    width: 25px;
    height: 25px;
    background: url(../images/ico2.png) no-repeat 0 -250px ;
    background-size: 24px  auto;
}
.vvv10{
    width: 25px;
    height: 25px;
    background: url(../images/ico2.png) no-repeat 0 -276px ;
    background-size: 24px  auto;
}
.sales-box {
    height: 260px;
    margin-top: 5px;
    background-color: #fff;
    border-radius: 1px;
    display: flex; 
    flex-wrap: wrap; 
    border-top: 1px solid #ccc;
    /* flex-direction: column; */
    
}
.sales-box-bb{
    display: flex; 
    height: 45px;
    width: 100%;
    justify-content:space-between;
    /* flex-wrap: wrap;  */
     flex-direction:row;
    align-items: center;
}
.sales-box-bb span:nth-child(1){
    display: flex;
    height: 45px;
    width: 80px;
    line-height: 45px;
    color: #fa5aa6;
    font-weight: 700;
    margin-left: 10px;
    text-shadow: 2px -2px 4px #fa5aa6;
}
.sales-box-bb span:nth-child(2){
    display: flex;
    height: 20px;
    width: 60px;
    padding: 0 8px;
    background-color: #fa5aa6;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    color: #f6f6f6;
}
.sales-box-bbb{
    float: left;
    display: flex;
    width: 260px;
    height: 205px;
    margin-left: 10px;
    /* flex-grow: 1;  */
    background:url(../images/tu1.png);
    /* flex: 1; */
}
.sales-box-bbbb{
    display: flex;
    width: 260px;
    height: 205px;
    float: right;
    /* align-items: ; */
    /* align-self: flex-end; */
    /* flex: 1; */
   
}
.sales-box-bbbb span{
    display: flex;
    width: 260px;
    height: 90px;
    background: url(../images/tu2.png) no-repeat;
    margin-bottom: 5px;
}
.sales-box-dd{
    /* display: flex; */
    width: 260px;
    height: 100px;
}
.sales-box-dd span:nth-child(1){
    width:130px;
    height: 110px;
    margin-left: 10px;
    background: url(../images/tu3.png) no-repeat;
}
/* .sales-box-dd span:nth-child(2){
    display: flex;
     width:130px; 
     height: 100px; 
    background: url(../images/tu4.png) no-repeat;
} */
.dibu{
        height: 465px;
        margin: 5px;
        /* background-color: rgb(206, 45, 45); */
        border-radius: 1px;
        /* display: flex; 
        flex-wrap: wrap;  */
}
.dibu-1{
   height: 45px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #ccc;
}
.dibu-1 span:nth-child(1){
    width: 135px;
    height: 45px;
    line-height: 45px;
    font-weight: 700;
    margin-left: 10px;
    color: #fa9a4d;
    text-shadow: 2px -2px 4px #fa5aa6;
}
.dibu-1 span:nth-child(2){
    display: block;
    height: 20px;
    padding: 0 10px;
    margin-top: 14px;
    /* line-height: 45px; */
    background-color: #fa5aa6;
    color: #f6f6f6;
    border-radius: 10px;
}
.dibu-2{
    display: flex;
    width: 100%;
    height: 420px;
    background: url(../images/tu6.png) no-repeat;
}
.subnav-entry-xia{
    height: 50px;
    width: 100%;
    margin-top: 10px;
    background-color: #ccc;
    margin: 5px;
    border-radius: 8px;
    display: flex; 
    flex-wrap: wrap;
}
.subnav-entry-xia li{
    display: flex;
    width: 33%;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    padding-top: 6px;
}
.subnav-entry-xia li a{
    display:flex;
    width: 100%;
    height: 100%;
    font-size: 16px;
    flex-direction: column;
    align-items: center;
    padding-top: 6px;
    color: #000;
}
.subnav-entry-xia li a span:nth-child(1){
    width: 30px;
    height: 40px;
    background: url(../images/sprite.png) no-repeat -53px -152px;
    background-size: 104px  auto;
}
.subnav-entry-xia li:nth-child(2) a span:nth-child(1){
    width: 30px;
    height: 40px;
    background: url(../images/sprite.png) no-repeat -53px -173px;
    background-size: 104px  auto;
}
.subnav-entry-xia li:nth-child(3) a span:nth-child(1){
    width: 30px;
    height: 40px;
    background: url(../images/sprite.png) no-repeat -53px -309px;
    background-size: 104px  auto;
}








